.botAnswer {
    background-color: whitesmoke;
    width: 20%;
    color: black;
    font-size: larger;
    
}
.robotAnswer{
    display: flex;
}

.discuss {
    position: absolute;
    top: 370px;
    left:580px;
    
   
}