<!DOCTYPE html>
<html>

<head>
    {%load static%}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/darkly/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src="{% static 'js/scripts.js' %}"></script>


<body>
    <h3>Chatbot Trainer</h3>
    <div>
        <h4>Add Logic Adapters to your bot</h4>
        <form method="post" action="/adaptions/">
            {%csrf_token %}
        <input type="checkbox" class="btn-check" id="math" name="math" autocomplete="off">
        <label class="btn btn-primary" for="math">Mathematics</label>
        <br>
        <button class="btn btn-primary">Set</button>
        </form>
    </div>
    <center>
        <div>
            <p class="botAnswer">{{resp}}</p>
            <img src="/static/icons/robot256px.png" height="150" width="150">
        </div>
    </center>
    <div id="trainBot">

        <h4>Train your bot</h4>

        <form method="post" action="/trainbot/" id="train">
            {%csrf_token %}
            <textarea type="text" id="data" name="data"></textarea>
            <input type="submit" value="Save">
        </form>
        <button onclick="translateText()">Translate</button>
    </div>
    <br>
    <form method="post" action="/loadData/" id="talkForm" enctype="multipart/form-data">
        {%csrf_token %}
        <input type="file" id="loadfile" name="loadfile">

        <input type="submit" value="Load">

    </form>
    <center>
        <form method="post" action="/discuss/">
            {%csrf_token %}
            <input type="text" name="talk" id="talk">
            <input type="submit" value="Discuss">
        </form>
    </center>

    </form>

</body>

</html>